{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/styles/room_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="leftSide">
            <!-- Header -->
            <div class="header">
                <ul class="nav_icons">
                    <li><ion-icon name="scan-circle-outline"></ion-icon></li>
                    <li><ion-icon name="chatbox"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div>
                
            <div class="chatlist">
                <div id="content">
                    {% for room in room_list %}
                        <a href="{% url 'room' room.post_id room.buyer_id %}" id="chat_href">
                            <div class="block unread">
                                <div class="imgBox">
                                    {% if user.id == room.buyer.id %}
                                        <img src="{{ room.seller.profile_pic.url }}" class="cover">
                                    {% else %}
                                        <img src="{{ room.buyer.profile_pic.url }}" class="cover">
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <div class="listHead">
                                        {% if user.nickname == room.seller.nickname %}
                                            <div class="nickname">{{ room.buyer.nickname }}</div>
                                        {% else %}
                                            <div class="nickname">{{ room.seller.nickname }}</div>
                                        {% endif %}
                                        <p class="time"></p>
                                    </div>
                                    <div class="message">
                                        <p>
                                            <div class="last_message">{{ room.last_content }}</div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div> <!-- end content -->
            </div> <!-- end chatlist-->
        </div> <!-- end leftSide -->

        <div class="rightSide">
            <div class="header">
                <ul class="nav_icons">
                    <li><ion-icon name="search-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div>
            <div class="chat-log">
                <div class="chat_list_intro">   
                    <img src="{% static 'assets/page_none.png' %}" class="chat_list_img" alt="">    
                </div>
                <div class="chat_list_intro_content">
                    <h4>대화 내역이 없습니다.</h4><br>
                    <p>판매자와 직접 대화하는 '소금마켓 Chat'</p>
                    <p>지금 바로 대화를 시작해보세요!</p>
                </div>
            </div><br>      
        </div>
    </div>
    {{ post_id|json_script:"room-name" }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var polling = setInterval(function(){
            
        var message = document.getElementsByClassName('last_message')
        var last_message = []
        
        for (var i = 0; i < message.length; i++) {
            last_message.push(message[i].textContent);
        }

        $.ajax({    
            type: 'GET',
            url: '/chat/polling',   
            data: {'last_message': last_message}, 
            success: function (data) { 
                data.forEach(function(room, idx){
                    if (last_message.length !== data.length) {
                        if ($('.nickname').eq(idx).text() === '') {
                            var chat = document.createElement('a');
                            chat.href = '/chat/' + room['polling_post_id'] + '/' + room['polling_buyer_id'];
                            chat.setAttribute('id', 'chat_href');

                            var blockUnread = document.createElement('div');
                            blockUnread.setAttribute('class', 'block unread');

                            var imgBox = document.createElement('div');
                            imgBox.setAttribute('class', 'imgBox');

                            var imgBoxSrc = document.createElement('img');
                            if ('{{ user.nickname }}' == room['buyer_nickname']) {
                                imgBoxSrc.setAttribute('src', room['polling_buyer_img']);
                            } else {
                                imgBoxSrc.setAttribute('src', room['polling_seller_img']);
                            }
                            imgBoxSrc.setAttribute('class', 'cover');

                            var details = document.createElement('div');
                            details.setAttribute('class', 'details');

                            var listHead = document.createElement('div');
                            listHead.setAttribute('class', 'listHead');

                            var nickname = document.createElement('div');
                            nickname.setAttribute('class', 'nickname');

                            if ('{{ user.nickname }}' == room['seller_nickname']) {
                                nickname.innerHTML = room['buyer_nickname'];
                            } else {
                                nickname.innerHTML = room['seller_nickname'];
                            }

                            var message = document.createElement('div');
                            message.setAttribute('class', 'message');
                            
                            var lastMessage = document.createElement('div');
                            lastMessage.setAttribute('class', 'last_message');
                            lastMessage.innerHTML = room['last_content'];

                            var p = document.createElement('p');
                            var p2 = document.createElement('p');

                            message.appendChild(p);
                            message.appendChild(lastMessage);
                            message.appendChild(p2);

                            listHead.appendChild(nickname);
                            
                            details.appendChild(listHead);
                            details.appendChild(message);

                            imgBox.appendChild(imgBoxSrc);

                            blockUnread.appendChild(imgBox);
                            blockUnread.appendChild(details);
                            
                            chat.appendChild(blockUnread);

                            var contentTag = document.getElementById('content')
                            contentTag.appendChild(chat);
                        }
                    } else {
                        if (room['last_content'] != last_message[idx]) {
                            $('.last_message').eq(idx).text(room['last_content']);     
                        }   
                    }
                });
            },

            error: function(request, status, error){
                alert(error);
            }
        });
        
    }, 500); 
</script> 