{% extends "base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block content %}

<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div class="container">
    
        <div class="room">
            <div class="room_form">
                <div id="chat-nav"><p>Chat</p></div>

                <div class="chat_content">
                    <div class="room_list"><p>list</p>


                    {% for room in room_list %}
                        <div class="room_list_content">
                        <div class="content_border"> 
                        <a href="{% url 'room' room.post_id room.buyer_id %}">
                            {% if user.id == room.post.author.id %}
                                {{ room.buyer.nickname }}
                            {% else %}
                                {{ room.seller.nickname }}        
                            {% endif %}
                        </a> 
                        &nbsp;&nbsp;&nbsp;{{ room.last_content }}<br>
                        </div>
                        </div> 
                    {% endfor %}
                </div>
                    
                    <div id="chat-log" cols="100" rows="20">
                    {% for message in message_list %}
                    <div class="chat_msg">
                        {{ message.user.nickname }}: {{ message.content }}   
                    </div><br/><br/> 
                    {% endfor %}
                    </div><br>
                    <div class="chat_input">
                        <input id="chat-message-input" type="text" size="100">
                        <!-- <input id="chat-message-submit" type="button" value="Send"> -->
                    <div class="chat_input_cont">    
                        <a href="#" id="chat-message-submit" role="button" ><i class="bi bi-send-fill"></i></a> 
                    </div>
                </div>
                    {{ post_id|json_script:"room-name" }}
                </div>
            </div>
        </div>

    </div>
    
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n') ;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'post_id': {{ post_id }},
                'buyer_id': {{ buyer_id }}
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>

{% endblock content %}