{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/styles/room_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="leftSide">
            <div class="header">
                <div class="userimg">
                    <img src="{% static 'assets/user.png' %}" alt="유저 이미지" class="cover">
                </div>
            </div>
        
            <div class="chatlist">
                <div id="content">
                    {% for room in room_list %}
                        <a href="{% url 'room' room.post_id room.buyer_id %}" id="chat_href">
                            <div class="block unread">
                                <div class="imgBox">
                                    <img src="{% static 'assets/user.png' %}" class="cover" alt="">
                                </div>
                                <div class="details">
                                    <div class="listHead">
                                            {% if user.nickname == room.seller.nickname %}
                                                {{ room.buyer.nickname }}
                                            {% else %}
                                                {{ room.seller.nickname }}
                                            {% endif %}
                                        <p class="time"></p>
                                    </div>
                                    <div class="message">
                                        <p><div id="content">
                                            <div class="last_message">{{ room.last_content }}</div>
                                        </div></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div> <!-- end content -->
            </div> <!-- leftSide -->            
        </div> <!-- end chatlist-->


        <div class="main_content">
            <div class="header">
                <div class="imgText">
                    <div class="userimg">
                        <div class="userimg">
                            <img src="{{ user.profile_pic.url }}" alt="" class="cover">
                        </div>                 
                    <h4>닉네임<br>
                        <span>online</span>
                    </h4>
                </div>
                <ul class="nav_icons">
                    <li><ion-icon name="search-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div> 
        
            <!-- chat -->
            <div id="chat-log">
                {% for message in message_list %}
                    {% if message.user_id == user.id %}
                        <div class="chat_user_right">
                            <img src="{{ user.profile_pic.url }}" alt="" class="chat_user_img_right">
                            <div class="chat_user_nick_right">{{ message.user.nickname }}</div>
                            <span class="msg_time_right">{{ message.timestamp|date:'a g:i' }}</span>
                            <div class="chat_msg_right">{{ message.content }}</div>
                        </div>
                        <br>
                    {% else %}
                        <div class="chat_user_left">
                            <img src="{{ user.profile_pic.url }}" alt="" class="chat_user_img_left">
                            <div class="chat_user_nick">{{ message.user.nickname }}</div>
                            <div class="chat_msg_left">{{ message.content }}</div>
                            <span class="msg_time_left">{{ message.timestamp|date:'a g:i' }}</span>
                        </div>
                        <br>
                    {% endif %}

                {% endfor %}
            </div>
                
            <div class="chat_input">
                <input name="text_msg" id="chat-message-input" type="text" placeholder="Message">
                <input id="chat-message-submit" type="button" value="Send">
            </div>
        </div> <!-- end rightSide-->
    </div> <!-- end container -->

    {{ post_id|json_script:"room-name" }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            var chatLogTag = document.getElementById('chat-log');

            // .chat_user
            var chatUserTag = document.createElement('div');
            var chatUserImg = document.createElement('img');
            var nicknameTag = document.createElement('div');
            var timeTag = document.createElement('span');
            var msgTag = document.createElement('div');
            var linebreak = document.createElement('br');
            
            if (data['nickname'] == '{{ user.nickname }}') {
                chatUserTag.setAttribute('class', 'chat_user_right');
                nicknameTag.setAttribute('class', 'chat_user_nick_right');
                timeTag.setAttribute('span', 'msg_time_right');
                msgTag.setAttribute('class', 'chat_msg_right');
                msgTag.innerHTML = data.message;
                nicknameTag.innerHTML = data['nickname'];
                timeTag.innerHTML = '';
            } 
            
            if (data['nickname'] != '{{ user.nickname }}') {
                /* .chat_user_left */
                chatUserTag.setAttribute('class', 'chat_user_left');
                chatUserImg.setAttribute('class', 'chat_user_img_left');
                chatUserImg.setAttribute('src', '{{ user.profile_pic.url }}');
                nicknameTag.setAttribute('class', 'chat_user_nick');
                timeTag.setAttribute('span', 'msg_time_left');
                msgTag.setAttribute('class', 'chat_msg_left');
                msgTag.innerHTML = data.message;
                nicknameTag.innerHTML = data['nickname'];
                timeTag.innerHTML = '';
            }

            chatUserTag.appendChild(chatUserImg);
            chatUserTag.appendChild(nicknameTag);
            chatUserTag.appendChild(timeTag);
            chatUserTag.appendChild(msgTag);
            chatLogTag.appendChild(chatUserTag);
            chatLogTag.appendChild(linebreak);

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {   
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'post_id': {{ post_id }},
                'buyer_id': {{ buyer_id }}
            }));
            messageInputDom.value = '';
        };

        var contentTag = document.getElementById('content')
        var polling = setInterval(function(){
            
            var message = document.getElementsByClassName('last_message')
            var last_message = []
            
            for (var i = 0; i < message.length; i++) {
                last_message.push(message[i].textContent);
            }

            $.ajax({    
                type: 'GET',
                url: '/chat/polling',   
                data: {'last_message': last_message}, 
                success: function (data) { 
                    data.forEach(function(room, idx){
                        if (last_message.length !== data.length) {
                            if ($('.nickname').eq(idx).text() === '') {
                                var nickname = document.createElement('a');
                                nickname.setAttribute('class', 'nickname');
                                nickname.href = '/chat/' + room['polling_post_id'] + '/' + room['polling_buyer_id']

                                if ('{{ user.nickname }}' == room['seller_nickname']) {
                                    nickname.innerHTML = room['buyer_nickname'];
                                } else {
                                    nickname.innerHTML = room['seller_nickname'];
                                }
                    
                                var lastMsTag = document.createElement('div');
                                lastMsTag.setAttribute('class', 'last_message');
                                lastMsTag.innerHTML = room['last_content'];
                    
                                contentTag.appendChild(nickname);
                                contentTag.appendChild(lastMsTag); 
                            }
                        } else {
                            if (room['last_content'] != last_message[idx]) {
                                $('.last_message').eq(idx).text(room['last_content']);     
                            }   
                        }
                    });
                },

                error: function(request, status, error){
                    alert(error);
                }
            });
            
        }, 40000); 
    </script> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>