{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/styles/room_style.css' %}">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
    <div class="container">
        <div class="leftSide">
            <div class="header">
                <div class="room_userimg">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'assets/salt_logo.svg' %}" alt="home" class="cover">
                    </a>
                </div>
            </div>
        
            <div class="chatlist">
                <div id="content">
                    {% for room in room_list %}
                        <a href="{% url 'room' room.post_id room.buyer_id %}" id="chat_href">
                            <div class="block unread">
                                <div class="imgBox">
                                    {% if user.id == room.buyer.id %}
                                        <img src="{{ room.seller.profile_pic.url }}" class="cover">
                                    {% else %}
                                        <img src="{{ room.buyer.profile_pic.url }}" class="cover">
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <div class="listHead">
                                        {% if user.nickname == room.seller.nickname %}
                                            <div class="nickname">{{ room.buyer.nickname }}</div>
                                        {% else %}
                                            <div class="nickname">{{ room.seller.nickname }}</div>
                                        {% endif %}
                                        <p class="time"></p>
                                    </div>
                                    <div class="message">
                                        <p>
                                            <div class="last_message">{{ room.last_content }}</div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div> <!-- end content -->
            </div> <!-- leftSide -->            
        </div> <!-- end chatlist-->


        <div class="main_content">
            <div class="header">
                <div class="imgText">
                        <div class="userimg">
                            {% if user.id == buyer.id %}
                                <img src="{{ post.author.profile_pic.url }}" alt="" class="cover">
                            {% else %}
                                <img src="{{ buyer.profile_pic.url }}" alt="" class="cover">
                            {% endif %}
                        </div>                 
                        <h4>
                            {% if user.id == buyer.id %}
                                {{ post.author.nickname }}
                            {% else %}
                                {{ buyer.nickname }}
                            {% endif %}
                            <br>
                        <!-- <span>online</span> -->
                    </h4>
                </div>
                <ul class="nav_icons">
                    <li><ion-icon name="search-outline"></ion-icon></li>
                    <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                </ul>
            </div> 
        
            <!-- chat -->
            <div id="chat-log">
                {% for message in message_list %}
                    {% if message.user_id == user.id %}
                        <div class="chat_user_right">
                            <span class="msg_time_right">{{ message.timestamp|date:'a g:i' }}</span>
                            <div class="chat_msg_right">{{ message.content }}</div>
                        </div>
                        <br>
                    {% else %}
                        <div class="chat_user_left">
                            {% if user.id == buyer.id %}
                                <img src="{{ post.author.profile_pic.url }}" alt="" class="chat_user_img_left">
                            {% else %}
                                <img src="{{ buyer.profile_pic.url }}" alt="" class="chat_user_img_left">
                            {% endif %}
                            <div class="chat_user_nick">{{ message.user.nickname }}</div>
                            <div class="chat_msg_left">{{ message.content }}</div>
                            <span class="msg_time_left">{{ message.timestamp|date:'a g:i' }}</span>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
                
            <div class="chat_input">
                <input name="text_msg" id="chat-message-input" type="text" placeholder="Message">
                <input id="chat-message-submit" type="button" value="Send">
            </div>
        </div> <!-- end rightSide-->
    </div> <!-- end container -->
    {{ post_id|json_script:"room-name" }}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const post_id = JSON.parse('{{ post.id }}');
        const buyer_id = JSON.parse('{{ buyer.id }}');
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + post_id
            + '/'
            + buyer_id
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            var chatLogTag = document.getElementById('chat-log');

            // .chat_user
            var chatUserTag = document.createElement('div');
            var chatUserImg = document.createElement('img');
            var nicknameTag = document.createElement('div');
            var timeTag = document.createElement('span');
            var msgTag = document.createElement('div');
            var linebreak = document.createElement('br');
            
            // time
            const date = new Date();
            const hours = date.getHours();
            const minutes = ('0' + date.getMinutes()).slice(-2);
            let time = '';

            if (hours < 12) {
                time = '오전 ' + hours + ':' + minutes;
                $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
            } else {
                time = '오후 ' + hours % 12 + ':' + minutes;
                $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
            }

            if (data['nickname'] == '{{ user.nickname }}') {
                chatUserTag.setAttribute('class', 'chat_user_right');
                nicknameTag.setAttribute('class', 'chat_user_nick_right');
                timeTag.setAttribute('class', 'msg_time_right');
                msgTag.setAttribute('class', 'chat_msg_right');

                timeTag.innerHTML = time;
                msgTag.innerHTML = data.message;

                chatUserTag.appendChild(timeTag);
                chatUserTag.appendChild(msgTag);

                $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
            } 
            
            if (data['nickname'] != '{{ user.nickname }}') {
                /* .chat_user_left */
                chatUserTag.setAttribute('class', 'chat_user_left');
                if ('{{ user.id }}' == '{{ buyer.id }}') {
                    chatUserImg.setAttribute('src', '{{ post.author.profile_pic.url }}')
                } else {
                    chatUserImg.setAttribute('src', '{{ buyer.profile_pic.url }}')
                }
                chatUserImg.setAttribute('class', 'chat_user_img_left');

                nicknameTag.setAttribute('class', 'chat_user_nick');
                msgTag.setAttribute('class', 'chat_msg_left');
                timeTag.setAttribute('class', 'msg_time_left');

                nicknameTag.innerHTML = data['nickname'];
                msgTag.innerHTML = data.message;
                timeTag.innerHTML = time;

                chatUserTag.appendChild(chatUserImg);
                chatUserTag.appendChild(nicknameTag);
                chatUserTag.appendChild(msgTag);
                chatUserTag.appendChild(timeTag);

                $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
            }
            
            chatLogTag.appendChild(chatUserTag);
            chatLogTag.appendChild(linebreak);
            
            $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {   
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'post_id': {{ post.id }},
                'buyer_id': {{ buyer.id }}
            }));
            messageInputDom.value = '';
        };

        var polling = setInterval(function(){
            
            var message = document.getElementsByClassName('last_message')
            var last_message = []
            
            for (var i = 0; i < message.length; i++) {
                last_message.push(message[i].textContent);
            }

            $.ajax({    
                type: 'GET',
                url: '/chat/polling',   
                data: {'last_message': last_message}, 
                success: function (data) { 
                    data.forEach(function(room, idx){
                        if (last_message.length !== data.length) {
                            if ($('.nickname').eq(idx).text() === '') {
                                var chat = document.createElement('a');
                                chat.href = '/chat/' + chat['polling_post_id'] + '/' + chat['polling_buyer_id'];
                                chat.setAttribute('id', 'chat_href');

                                var blockUnread = document.createElement('div');
                                blockUnread.setAttribute('class', 'block unread');

                                var imgBox = document.createElement('div');
                                imgBox.setAttribute('class', 'imgBox');

                                var imgBoxSrc = document.createElement('img');
                                if ('{{ user.nickname }}' == room['buyer_nickname']) {
                                    imgBoxSrc.setAttribute('src', room['polling_buyer_img']);
                                } else {
                                    imgBoxSrc.setAttribute('src', room['polling_seller_img']);
                                }
                                imgBoxSrc.setAttribute('class', 'cover');

                                var details = document.createElement('div');
                                details.setAttribute('class', 'details');

                                var listHead = document.createElement('div');
                                listHead.setAttribute('class', 'listHead');

                                var nickname = document.createElement('div');
                                nickname.setAttribute('class', 'nickname');

                                if ('{{ user.nickname }}' == room['seller_nickname']) {
                                    nickname.innerHTML = room['buyer_nickname'];
                                } else {
                                    nickname.innerHTML = room['seller_nickname'];
                                }

                                var message = document.createElement('div');
                                message.setAttribute('class', 'message');
                                
                                var lastMessage = document.createElement('div');
                                lastMessage.setAttribute('class', 'last_message');
                                lastMessage.innerHTML = room['last_content'];

                                var p = document.createElement('p');
                                var p2 = document.createElement('p');

                                message.appendChild(p);
                                message.appendChild(lastMessage);
                                message.appendChild(p2);

                                listHead.appendChild(nickname);
                                
                                details.appendChild(listHead);
                                details.appendChild(message);

                                imgBox.appendChild(imgBoxSrc);

                                blockUnread.appendChild(imgBox);
                                blockUnread.appendChild(details);
                                
                                chat.appendChild(blockUnread);

                                var contentTag = document.getElementById('content')
                                contentTag.appendChild(chat);
                            }
                        } else {
                            if (room['last_content'] != last_message[idx]) {
                                $('.last_message').eq(idx).text(room['last_content']);     
                            }   
                        }
                    });
                },

                error: function(request, status, error){
                    alert(error);
                }
            });
            
        }, 2000); 
    </script> 

    <script>
        $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>