{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


        <title>Login</title>

        <link rel ="stylesheet" type="text/css" href="{% static 'member/styles/signup.css' %}">
    </head>
    
    {% load widget_tweaks %}

<body>
    <div class="login-box">
        <h1>Sign up</h1>
    
    <form method="post" id="signupForm" onsubmit="return addressCheck()">
        {% csrf_token %}
        <div class="textbox">
            <i class="fa-solid fa-paper-plane"></i>
            <!-- <input type="text" placeholder="이메일을 입력해 주세요." name="" value="" maxlength="100"> -->
            {{ form.email|add_class:"market-input"|attr:"placeholder:이메일을 입력해주세요."|add_error_class:"error"  }}
            {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <p>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <!-- <input type="text" placeholder="닉네임을 입력해 주세요." name="" value="" maxlength="100"> -->
            {{ form.nickname|add_class:"market-input"|attr:"placeholder:닉네임을 입력해주세요."|add_error_class:"error" }}    
            {% for error in form.nickname.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <p>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <!-- <input type="password" placeholder="비밀번호를 입력해 주세요." name="" value=""> -->
            {{ form.password1|add_class:"market-input"|attr:"placeholder:비밀번호를 입력해주세요."|add_error_class:"error"  }}
            {% for error in form.password1.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <p>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <!-- <input type="password" placeholder="비밀번호를 한번 더 입력해 주세요." name="" value=""> -->
                {{ form.password2|add_class:"market-input"|attr:"placeholder:비밀번호 한번 더 입력해주세요."|add_error_class:"error"  }}
                {% for error in form.password2.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>   
        <p>
            <div class="textbox">
                <i class="fa-solid fa-location-dot"></i>
                <!-- <input type="text" placeholder="" name="" value=""> -->
                {{ form.address|add_class:"market-input"|add_error_class:"error"|attr:"placeholder:위치를 정해주세요."}}

                {% for error in form.address.errors %}
                    <div class="error-message" id="error-message">{{ error }}</div>
                {% endfor %}
                </span>
                <a href="#" onclick="addressSearch();" class="position_in" role="button">
                    <span class="a">주소찾기</span>
                </a> 
                
            </div>
            
        {% comment %} <button class="cp-button" type="submit">회원가입</button> {% endcomment %}
    </form>
    
    <!-- <input class="btn" type="button" onclick="addressSearch();" value="주소 찾기" />  -->
    <input class="btn" type="button" name="" value="Sign in">
    <div class="info" style="text-align: right;">
        이미 회원이신가요? <a class="link" href="#">로그인</a>
    </div>  
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addressSearch() {
        window.open('/popup_address', '위치 찾기', 'width=150px', 'height=200px', 'resizable = no')
        // window.resizeTo(200, 200);
    }
    
    function addressCheck() {
        let param = {
            'address': document.getElementById('id_address').value
        }
        
        var signupForm = document.getElementById("signupForm");

        $.ajax({
            type: 'POST',
            url : 'addrCheck',
            data: JSON.stringify(param), 
            success: function (data) {
                localStorage.clear();
                signupForm.submit();
            },
            error: function(request, status, error){
                alert("주소를 찾아주세요")
                // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });

        return false;
        
    }
</script>