.post-form{
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    left: 25%;
    
}

.title .st-input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.content .st-input{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.price .st-input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.file .file-input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_img{
    text-align: center;
}

.aaa{
    width: 60%;
    margin: auto;
    text-align: left;
    border: 1px solid #ccc;
}


div {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 15px;
   
  }

.buttons {
    text-align: center;
}

.button_cancel{
    width: 65px;
    height: 50px;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    border: #6100bd;
    border-radius: 0.5rem;
    background-color: #6100bd;
    text-decoration: none;
}

.button_cancel > a{
    color: #ffffff;
    text-decoration: none;
}

.button_submit{
    width: 65px;
    height: 50px;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    border: #6100bd;
    border-radius: 0.5rem;
    background-color: #6100bd;
    text-decoration: none;
}


