.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
   
.row{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card{
    position: relative;
    height: 400px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    width: 18rem;
    display: grid;
    grid-column-gap: 20px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

#detail_button {
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 12px;
}

.btn-btn-link{
    
    width: 150%;
    height: 40px;
    color: white;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 0.5rem;
    background-color: #6100bd;
    text-decoration: none; 

}

.btn-btn-link:hover {
    color: white;
    text-decoration: none;
}

.card-img-top{
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}