<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>test</title>
    </head>
    
    {% load widget_tweaks %}

<body>
    <form method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="form-error error-message">{{ error }}</div>
        {% endfor %}
        <div>
            {{ form.login|add_class:"market-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
            {% for error in form.login.errors %}
                <div class="form-error error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <p>
        <div>
            {{ form.password|add_class:"market-input"|attr:"placeholder:이메일"|add_error_class:"error"}}
            {% for error in form.password.errors %}
                <div class="form-error error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <button class="market-button" type="submit">로그인</button>
    </form>

    <div class="info">
        <a class="item" href="{% url 'account_reset_password' %} ">비밀번호 찾기</a>
        <a class="item" href="{% url 'account_signup' %}">회원가입</a>
    </div>
</body>
</html>

