{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme.css' %}">
    {% comment %} <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"> {% endcomment %}

    <title>{% block title %}소금마켓{% endblock title %}</title>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block header %}{% endblock header %}
    <main class="site-main">
      {% block content %}{% endblock content %}
    </main>
    {% block footer %}{% endblock footer %}
  </body>
</html>