{% extends "base.html" %}

{% load static %}

{% block body_class %}with-border{% endblock %}

{% block header %}
<header class="site-header">
  <a class="logo" href="{% url 'index' %}">
    {% comment %} <img src="{% static '/assets/logo.svg' %}" alt="소금마켓"> {% endcomment %}
  </a>
  <nav>
    <ul class="menu">
      {% if user.is_authenticated %}
        <li class="menu-item user-menu"><a href="{% url 'profile' user.id %}">내 프로필</a></li>
        <li class="menu-item user-menu"><a href="{% url 'account_logout' %}">로그아웃</a></li>
      {% else %}
        <li class="menu-item guest-menu"><a class="podo-chip" href="{% url 'account_login' %}">로그인</a></li>
        <li class="menu-item guest-menu"><a class="podo-chip" href="{% url 'account_signup' %}">회원가입</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="content">
    <span>소금마켓</span>
  </div>
</footer>
{% endblock footer %}