{% extends "base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block content %}
<form class="search-form" method="GET" action="{% url 'post-search' %}">
  <div class="search_button">
      <input name="searched" class="search_input" type="text" placeholder="  Search" aria-label="Search">
  </div>
<div class="post-list">
  <div class="header">
    <h2>중고 상품</h2>
    </form> 
    <div class="write_btn">
      <a class="link" href="{% url 'post-create' %}">
        <span><i class="bi bi-pencil-fill">&nbsp;</i>글쓰기</span>
      </a>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="nav_distance">
      <a href="javascript:withinOne();">1km 이내&nbsp;&nbsp;|</a>
      <a href="javascript:withinFive();">5km 이내&nbsp;&nbsp;|</a>
      <a href="javascript:withinTen();">10km 이내&nbsp;&nbsp;|</a>
      <a href="javascript:withinAll();">전체&nbsp;&nbsp;</a>
    </div>
  {% endif %}
  <div class="posts">
    {% for post in posts %}
    <a href="{% url 'post-detail' post.id %}">
      <div class="podo-card post">
        <img class="thumb" src="{{ post.image1.url }}" alt="썸네일 이미지">
        <div class="content">
          <h2 class="title">{{ post.title }}</h2>
          <div class="price-and-status">
            <span class="price">
              {{ post.price|intcomma }}원
            </span>
          </div>
          <div class="meta">
            <!--{{ post.dt_created|date:"Y.m.d" }&nbsp;|}&nbsp;-->
            {{ post.author.address }}
          </div>
        </div>
      </div>
    </a>
    {% empty %}
      <p class="empty">판매중인 상품이 없어요 :(</p>
    {% endfor %}
  </div>

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page=1">처음</a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}">이전</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="current">{{ num }}</li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">다음</a></li>
        <li><a href="?page={{ page_obj.paginator.num_pages }}">마지막</a></li>
      {% endif %}
    </ul>
  {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function withinOne() {
    $.ajax({
        type: 'GET',
        url: 'one',
        data: '',
        success: function (data) {
          $('body').html(data);
        },
        error: function(request, status, error){
          alert(error);
        }
    });
  }


  function withinFive() {
    $.ajax({
        type: 'GET',
        url: 'five',
        data: '',
        success: function (data) {
          $('body').html(data);
        },
        error: function(request, status, error){
          alert(error);
        }
    });
  }


  function withinTen() {
    $.ajax({
        type: 'GET',
        url: 'ten',
        data: '',
        success: function (data) {
          $('body').html(data);
        },
        error: function(request, status, error){
          alert(error);
        }
    });
  }


  function withinAll() {
    $.ajax({
        type: 'GET',
        url: 'all',
        data: '',
        success: function (data) {
          $('body').html(data);
        },
        error: function(request, status, error){
          alert(error);
        }
    });
  }


  
</script>
{% endblock content %}