{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="{% static 'shop/styles/post_form.css' %}">
               
        <title>소금마켓</title>
    </head>
<body>
{% block content %}
    <form class="post-form" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title">
            {{ form.title|add_class:"st-input"|add_error_class:"error"|attr:"placeholder:제목을 입력하세요"}}
            {% for error in form.title.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="content">
            {{ form.content|add_class:"st-input"|add_error_class:"error"|attr:"placeholder:내용을 입력하세요"}}
            {% for error in form.content.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="price">
            {{ form.price|add_class:"st-input"|add_error_class:"error"|attr:"placeholder:가격을 입력해주세요"}}
            {% for error in form.price.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="file">
            <div class="file-input">
                {% if post.image1 %}
                    <div class="input_img">
                        <img class="input_img" src="{{ post.image1.url}}" width="300" height="300"></div><br>
                <div>
                <div class="aaa">                 
                {% endif %}
                {{ form.image1 }}
                {% for error in form.image1.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        <div class="file">
            <div class="file-input">
                {% if post.image2 %}
                    <div class="input_img">
                        <img src="{{ post.image2.url}}" width="300" height="300"></div><br>
                <div>            
                <div class="aaa"> 
                {% endif %}
                {{ form.image2 }}
                {% for error in form.image2.errors %}</p>
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="file">
            <div class="file-input">
                {% if post.image3 %}
                <div class="input_img">
                    <img class="input_img" src="{{ post.image3.url}}" width="300" height="300"></div><br>
                <div>            
                <div class="aaa"> 
                
                {% endif %}
                {{ form.image3 }}
                {% for error in form.image3.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>

        <div class="buttons">

            {% if form.is_sold %}
            <div class="is-sold">
                <label for="{{ form.is_sold.id_for_label }}">거래 완료</label>
                {{ form.is_sold }}
                {% for error in form.is_sold.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <button class="button_cancel">
            <a class="podo-button large secondary cancel"
            href="{% if post %}{% url 'post-detail' post.id %}{% else %}{% url 'index' %}{% endif %}">
            취소
            </a>
            </button>
            

            <button class="button_submit" type="submit">완료</button>
        </div>
    </form>
{% endblock content %}

</body>
</html>