{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
    {% if post %}
        {{ post.title }}
    {% else %}
        물품 등록
    {% endif %} | 소금마켓
{% endblock title %}

{% block content %}
    <div class="post-detail">
        <article> 
            <img class="image" src="{{ post.image1.url }}">
            {% if image2 %}
                <img class="image" src="{{ post.image2.url }}">
            {% endif %}
            {% if image3 %}
                <img class="image" src="{{ post.image3.url }}">
            {% endif %}

            <div class="title">
                {{ post.title }}
            </div>             
            <div class="price">
                {{ post.price|intcomma }} 원
            </div>
            <div class="content">
                {{ post.content }}
            </div>
            <div class="dt-created">
                date: {{ post.dt_created|date:"Y.m.d" }}
            </div>
        </article>
    </div>
    <a href="{% url 'posts' %}">&lt; 목록으로</a>
    <div class="buttons">
        <a class="podo-button small secondary" href="{% url 'post-update' post.id %}">수정</a>
        <a class="podo-button small secondary" onclick="return deleteCheck()" href="{% url 'post-delete' post.id %}">삭제</a>
    </div>
{% endblock content %}

<script>
    function deleteCheck() {
        if (confirm("작성글을 삭제하시겠습니까?")) {
            return true;
        } else {
            return false;
        }
    }
</script>